.page-container{
    float: right;
    width: 85%;
}
@media screen and (max-width:768px){
    .page-container{
        width: 100vw;
        height: auto;
        display: block;
        overflow-x:hidden;
    }
}