@import url('https://fonts.googleapis.com/css2?family=Montserrat:wght@400;700&display=swap');
* {
    margin: 0;
    padding: 0;
    outline: 0;
    box-sizing: border-box;
    font: 400 20px Montserrat, sans-serif;
}
b{
    font: 700 12px Montserrat, sans-serif;
    color:white;
}
.link-text{
    font-size: 12px;
}
.link{
    color:rgb(150,150,150);
    text-decoration: none;
}
.link:hover{
    color:rgb(255, 255, 255);
    opacity: 0.5;
    text-decoration: none;
}
.pages{
    padding-left: 5%;
    padding-right: 2%;
    width: 100%;
    height: 100vh;
    background-color: rgb(30, 30, 30);
}
.title-text{
    position: relative;
    z-index: 1;
    font-size: 30px;
    color: rgb(150,150,150);
}
.text{
    color: rgb(226,226,226);
    font-size: 12px;
    line-height: 20px;
}
.pagetitle{
    position: static;
    z-index:1;
    color: rgb(216, 216, 216);
}
.backgroundnumber{
    position: absolute;
    font-weight: 700;
    color: rgb(41, 41, 41);
}
.page-pagetitle{
    position: relative;
    z-index: 1;
    padding-top: 22px;
}
.page-backgroundnumber{
    font-size: 80px;
}
.text, #text-joystick, #text-joystick b{
    overflow-wrap: break-word;
    word-wrap: break-word;
    -webkit-hyphens: auto;
    -ms-hyphens: auto;
    hyphens: auto;
}

@media screen and (max-width:1024px){
   .text{
       font-size: 11px;
   }
    
}
@media screen and (max-height:600px){
    .pages{
        height: auto;
    }
}
@media screen and (max-width:768px){
    .pages{
        height: auto;
        position: relative;
        z-index: 10;
    }
}
